{% extends "templates/web.html" %}

{% block title %}{{ _("Movie search") }}{% endblock %}

{% block script %}
<script src="movies/index.js"></script>
{% endblock %}

{% block page_content %}
<div id="enter-details" class="mb-5">
    <div class="text-center mt-5">
        <h3>Movie search</h3>
        <p class="lead text-muted">Please insert your title and click search.</p>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-6 align-items-center"> <form id="customer-form" action='#'>
                <div class="input-group mt-3">
                    <input class="form-control form-control-lg" type="text" name="movie_title" id="movie_title" placeholder="title" required> <div class="input-group-append">
                        <button class="btn btn-primary" onclick="searchMovies()" id="submit-button"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="results" class="row"></div>
</div>
</div>

{% endblock %}
